.dark-mode{
    background-color: darken($grisOscuro, 10);
    p{
        color: $blanco;
    }

    a,h1,h2,h3,h4{
        color: $gris;
    }

    .anuncio, .resumen-propiedad{
        background-color: $grisOscuro;
        border:1px solid $grisOscuro;

        .precio{
            color: $verde;
        }

        .boton-amarillo-block{
            color:$blanco;
        }
        .icono{
            filter: invert(100%);
        }
    }

    .texto-nosotros blockquote{
        color: $blanco;
    }

    .formulario {
        legend, label, p {
            color: $blanco;
        }

        input:not([type="submit"]),
        textarea,
        select {
            background-color: darken($grisOscuro, 10%);
            color: $blanco;
            border: 1px solid lighten($grisOscuro, 10%);
        }

        input::placeholder,
        textarea::placeholder {
            color: lighten($grisOscuro, 40%);
        }

        input[type="radio"] {
            accent-color: $verde; // o el color principal del tema
        }
    }

    .tabla-propiedades{
    margin-top: 4rem;
    width: 100%;
    border-spacing: 0;

    thead{
        background-color: $verde;
        th{
            color: $blanco;
            padding: 2rem;
        }
    }

    .imagen-tabla{
        width: 10rem;
    }

    td{
        color: $blanco;
    }
}

    
}