.seccion {
    margin-top: calc($separacion / 2);
    margin-bottom: calc($separacion / 2);
}
.contenido-centrado {
    max-width: 80rem;
}

.alinear-derecha{
    display: flex;
    justify-content: flex-end;
}

.w-100{
    width: 100%;
}

.imagen-small {
    width: 25rem; 
    height: auto;
    border-radius: 0.5rem; 
    margin-bottom: 1rem;
}